__pycache__/
*.egg-info/

venv*/

run/
inference/
job/

notebooks/.ipynb_checkpoints
**/lightning_logs/

jobs/*
jobs/*/

*.dat
*.csv
*.pdf
*.out.*
*.err.*
*.keras
*history*.txt
*.tf/
*.slurm
*.config
